.dragBox {
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  text-align: center;
  font-weight: bold;
  line-height: 245px;
  color: #000000;
  /* border: 1px dashed #ccc; */
  display: inline-block;
  transition: transform 0.2s;
}
.dragBox input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  cursor: pointer;
}
.draging {
  transform: scale(1.1);
}
.preview {
  height: 250px;
  width: 250px;
}
#preview {
  text-align: center;
}
#preview img {
  max-width: 100%;
}